* {
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2,
p,
a {
  color: #626262;
}

.main-menu {
  display: block;
  text-align: center;
  padding: 70px 0px 96px 0px;
  list-style: none;
  text-transform: uppercase;
  color: #626262;
  font-size: 0;
}

li {
  margin-right: 100px;
  display: inline-block;
}

li:last-child {
  margin-right: 0px;
}

a {
  font-size: 14px;
  text-decoration: none;
}

a:hover {
  color: #03a9f4;
}

.container {
  width: 900px;
  margin: 0px auto;
  font-size: 0;
}

.short-article {
  width: 420px;
  display: inline-block;
  margin-right: 60px;
  margin-bottom: 100px;
  line-height: 24px;
}

.short-article p {
  font-size: 14px;
}

.short-article:nth-child(2n) {
  margin-right: 0px;
}

.short-article:nth-last-child(3),
.short-article:nth-last-child(2) {
  margin-bottom: 0px;
}

.item-category {
  font-family: "ubuntu", serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #c7c1b6;
  padding: 30px 0px 26px;
}

.item-header {
  font-size: 2.143rem;
  margin-bottom: 32px;
  font-weight: normal;
}

.item-text {
  padding-bottom: 26px;
}

.bottom-button {
  display: block;
  padding: 20px 30px;
  margin: 24px auto 60px;
  font-size: 20px;
  color: #6c6c6c;
  border: 1px solid;
  background: white;
  cursor: pointer;
}

button:hover {
  color: #03a9f4;
}
